<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.nypr.cordova.sharesocialplugin"
    version="0.1.0">
    <name>Device</name>
    <description>Share Social Media Plugin</description>
    <license>Apache 2.0</license>
    <keywords>share,social,media</keywords>
    <repo>git@git.wnyc.net:mobile/cordova/cordova-plugin-sharesocial.git</repo>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ShareSocial" >
                <param name="android-package" value="org.nypr.cordova.sharesocialplugin.ShareSocial"/>
            </feature>
        </config-file>

        <source-file src="src/android/ShareSocial.java" target-dir="src/org/nypr/cordova/sharesocialplugin/" />
    </platform>

    <!-- ios -->
    <!--
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Device">
                <param name="ios-package" value="CDVDevice"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVDevice.h" />
        <source-file src="src/ios/CDVDevice.m" />
    </platform>
    -->
</plugin>
